{% extends "CoobixAdminBundle:Default:list.html.twig" %}

{% block breadcrumb_in %}

{% endblock breadcrumb_in %} 


{% block module_tit %}
Listado de Presupuestos
{% endblock module_tit %}

{% block list_tits %}

{% set widthCols =  94/4  %}

<th style="width: {{ widthCols }}%"{% if entities.isSorted('pr.numero') %} class="sorted" {% endif %}>{{ entities.sortable('Número', 'pr.numero')|raw }}</a></a></th>
<th style="width: {{ widthCols }}%"{% if entities.isSorted('p.pedido.cliente.nombre') %} class="sorted" {% endif %}>{{ entities.sortable('Cliente', 'p.pedido.cliente.nombre')|raw }}</a></a></th>
<th style="width: {{ widthCols }}%"{% if entities.isSorted('p.numero') %} class="sorted" {% endif %}>{{ entities.sortable('Pedido', 'p.numero')|raw }}</a></a></th>



{% endblock list_tits %}

{% block list_item_texts %}
<td ><a href="{{ path('presupuesto_edit', { 'id': entity.id }) }}">{{ entity.numero }}</a></td>
<td ><a href="{{ path('presupuesto_edit', { 'id': entity.id }) }}">{{ entity.pedido.cliente.nombre }}</a></td>
<td ><a href="{{ path('presupuesto_edit', { 'id': entity.id }) }}">{{ entity.pedido.numero }}-{{ entity.pedido.obra }}</a></td>
{% endblock list_item_texts %}


{%block FormBuscar%}
	<form method="post" action="{{path('presupuesto',{pararouting:"buscar"})}}" novalidate="true">
{%endblock%}


{%block camposFormBuscar%}
	<div id="formBuscar">
		
		{{form_row(formBuscar._token)}}
		
		{{form_row(formBuscar.pre_numero)}}
		{{form_row(formBuscar.pre_fechaCreado)}}
		{{form_row(formBuscar.pre_fechaActualizado)}}
	
		{{form_row(formBuscar.p_numero)}}
		{{form_row(formBuscar.p_obra)}}

	</div>
{%endblock%}

{% block new_path %} 
{{ path('presupuesto_new') }}
{% endblock new_path %}

{% block edit_path %} 
{{ path('presupuesto_edit', { 'id': entity.id }) }} 
{% endblock edit_path %}

{% block delete_path %}
{{ path('presupuesto_delete', { 'id': entity.id }) }}
{% endblock delete_path %}

{% block list_delete %}

{% render "PedidoBundle:Presupuesto:listDeleteform" with {'id': entity.id}  %}

{% endblock list_delete %}




