{% extends "CoobixAdminBundle:Default:list.html.twig" %}

{% block breadcrumb_in %}
<div class="breadcrumbs">
<a href="{{ path('log') }}" class="current" >Logs</a>
</div>
{% endblock breadcrumb_in %} 

		{% block new_path_btn %}

		{% endblock new_path_btn %}


{% block module_tit %}
Listado de Logs

{% endblock module_tit %}

{% block list_tits %}

{% set widthCols =  94/5  %}

<th style="width: {{ widthCols }}%"{% if entities.isSorted('u.apellido') %} class="sorted" {% endif %}>{{ entities.sortable('Usuario', 'u.apellido')|raw }}</th>
<th style="width: {{ widthCols }}%"{% if entities.isSorted('l.log') %} class="sorted" {% endif %}>{{ entities.sortable('Acción', 'l.log')|raw }}</th>
<th style="width: {{ widthCols }}%"{% if entities.isSorted('l.entidad') %} class="sorted" {% endif %}>{{ entities.sortable('Clase - Id', 'l.entidad')|raw }}</th>
<th style="width: {{ widthCols }}%"{% if entities.isSorted('l.fechaHoraCreado') %} class="sorted" {% endif %}>{{ entities.sortable('Creado el', 'l.fechaHoraCreado')|raw }}</th>

{% endblock list_tits %}

{% block list_item_texts %}
<td >{{ entity.getUsuario }}</td>
<td >{{ entity.getLog }}</td>
<td >{{ entity.entidad }} - {{ entity.idEntidad }}</td>
<td >{{ entity.getFechaHoraCreado | date ('d/m/Y H:i:s')}}</td>
{% endblock list_item_texts %}


{%block FormBuscar%}
	<form method="post" action="{{path('log',{pararouting:"buscar"})}}" novalidate="true">
{%endblock%}

{%block camposFormBuscar%}
	<div id="formBuscar">
		{{form_row(formBuscar._token)}}
		{{form_row(formBuscar.u_nombre)}}
		{{form_row(formBuscar.u_apellido)}}
		{{form_row(formBuscar.l_log)}}
		{{form_row(formBuscar.l_fechaCreado)}}
	</div>
{%endblock%}





{% block new_path %} 
{#
{{ path('log_new') }}
#}
{% endblock new_path %}

{% block edit_path %} 
{#
{{ path('log_edit', { 'id': entity.id }) }}
#} 
{% endblock edit_path %}

{% block delete_path %}
{#
{{ path('log_delete', { 'id': entity.id }) }}
#}
{% endblock delete_path %}



{% block list_buttons %}
<td class="" >
	<ul>
	<li></li>
	<li>
	{% block list_delete %}
	{#	{% render "ClientesBundle:Cliente:listDeleteform" with {'id': entity.id}  %}	#}
	{% endblock list_delete %}
	</li>
	</ul>
</td>
{% endblock list_buttons %}





