{% extends "CoobixAdminBundle:Default:edit.html.twig" %}

{% block breadcrumb_in %}
<div class="breadcrumbs">
<a href="{{ path('admin_post_list') }}" class="current" >Clientes</a>
<div class="breadcrumb_divider"></div> 
<a href="{{ path('cliente_edit', { 'id': entity.id }) }}" class="current" >Editar</a>
</div>
{% endblock breadcrumb_in %} 

{% block module_tit %}Editar Cliente{% endblock module_tit %}

{% block update_path %}
{{ path('cliente_update', { 'id': entity.id }) }}
{% endblock update_path %}

{% block list_path %}
{{ path('cliente') }}
{% endblock list_path %}

{% block delete_path %}
{{ path('cliente_delete', { 'id': entity.id }) }}
{% endblock delete_path %}