
<form id="{{id}}_idFormEliminar" action="{{url}}" method="post">
	{{ form_widget(delete_form) }}
	<div style="display:none" id="{{id}}_idMsjEliminar">{{msj}}</div>
	<button id="{{id}}_idBtnEliminar" class="list_delete_btn" type="button" ></button>
</form>
			
