{% extends "CoobixAdminBundle:Default:list.html.twig" %}

{% block breadcrumb_in %}
<div class="breadcrumbs">
<a href="{{ path('pedido') }}" class="current" >Pedidos</a>
</div>
{% endblock breadcrumb_in %} 


{% block module_tit %}
Listado de Pedidos
{% endblock module_tit %}

{% block list_tits %}

{% set widthCols =  94/6  %}

<th style="width: {{ widthCols }}%"{% if entities.isSorted('p.numero') %} class="sorted" {% endif %}>{{ entities.sortable('Número', 'p.numero')|raw }}</a></th>
<th style="width: {{ widthCols }}%"{% if entities.isSorted('c.apellido') %} class="sorted" {% endif %}>{{ entities.sortable('Cliente', 'c.apellido')|raw }}</th>
<th style="width: {{ widthCols }}%"{% if entities.isSorted('p.obra') %} class="sorted" {% endif %}>{{ entities.sortable('Obra', 'p.obra')|raw }}</th>
<th align="center" style="width: {{ widthCols }}%"{% if entities.isSorted('p.prioridad') %} class="sorted" {% endif %}>{{ entities.sortable('Prioridad', 'p.prioridad')|raw }}</th>
<th align="center" style="width: {{ widthCols }}%"{% if entities.isSorted('p.estado') %} class="sorted" {% endif %}>{{ entities.sortable('Estado', 'p.estado')|raw }}</th>


{% endblock list_tits %}

{% block list_item_texts %}
<td >
	<a href="{{ path('pedido_edit', { 'id': entity.id }) }}">
		{{ entity.numero }}
	</a>
</td>

<td ><a href="{{ path('pedido_edit', { 'id': entity.id }) }}">{{ entity.getCliente }}</a></td>
<td ><a href="{{ path('pedido_edit', { 'id': entity.id }) }}">{{ entity.obra }}</a></td>
<td align="center"><a href="{{ path('pedido_edit', { 'id': entity.id }) }}" >{{entity.prioridadNombre}}</a></td>
<td align="center"><a href="{{ path('pedido_edit', { 'id': entity.id }) }}">{{ entity.estadoNombre }}</a></td>
{% endblock list_item_texts %}




{%block FormBuscar%}
	<form method="post" action="{{path('pedido',{pararouting:"buscar"})}}" novalidate="true">
{%endblock%}

{%block camposFormBuscar%}
	<div id="formBuscar">
		
		{{form_row(formBuscar._token)}}
		{{form_row(formBuscar.p_numero)}}
		{{form_row(formBuscar.p_obra)}}
		{{form_row(formBuscar.p_descripcion)}}
		{{form_row(formBuscar.p_requiereRelevamiento)}}		
		{{form_row(formBuscar.p_prioridad)}}
		{{form_row(formBuscar.p_estado)}}
		{{form_row(formBuscar.p_fechaSolicitado)}}
		{{form_row(formBuscar.p_fechaEntrega)}}
		{{form_row(formBuscar.p_fechaCreado)}}
		{{form_row(formBuscar.p_fechaActualizado)}}
		
		{{form_row(formBuscar.c_nombre)}}
		{{form_row(formBuscar.c_numero)}}
		{{form_row(formBuscar.c_dni)}}
		{{form_row(formBuscar.c_cuitOcuil)}}
	</div>
{%endblock%}

{% block new_path %} 
{{ path('pedido_new') }}
{% endblock new_path %}

{% block edit_path %} 
{{ path('pedido_edit', { 'id': entity.id }) }} 
{% endblock edit_path %}

{% block delete_path %}
{{ path('pedido_delete', { 'id': entity.id }) }}
{% endblock delete_path %}

{% block list_delete %}
{% render "PedidoBundle:Pedido:listDeleteform" with {'id': entity.id}  %}
{% endblock list_delete %}





