{% extends "CoobixAdminBundle:Default:new.html.twig" %}



{% block breadcrumb_in %}
<div class="breadcrumbs">
<a href="{{ path('pedido') }}" class="current" >Pedidos</a>
<div class="breadcrumb_divider"></div> 
<a href="{{ path('pedido_new') }}" class="current" >Crear</a>
</div>
{% endblock breadcrumb_in %} 

{%block main_path%}
	
	{%if entity.cliente %}
		<ul>
			<li><a class="btn_back_to_list txt16 txt_green" href="{{ path('cliente_edit',{'id': entity.cliente.id}) }}">Cliente: {{entity.cliente.nombre}}</a></li>
			<li>> <a class="btn_back_to_list txt16 txt_green" href="{{ path('pedido_new',{'cliente': entity.cliente.id}) }}">Crear pedido</a></li>
		</ul>
	{%endif%}
	
{%endblock main_path%}


{% block module_tit %}
Crear Pedido
{% endblock module_tit %}

{% block create_path %}
{{ path('pedido_create') }}
{% endblock create_path %}

{% block list_path %}
{{ path('pedido') }}
{% endblock list_path %}
