{% extends "CoobixAdminBundle:Default:edit.html.twig" %}

{% block breadcrumb_in %}
<div class="breadcrumbs">
<a href="{{ path('admin_post_list') }}" class="current" >Pedidos</a>
<div class="breadcrumb_divider"></div> 
<a href="{{ path('pedido_edit', { 'id': entity.id }) }}" class="current" >Editar</a>
</div>
{% endblock breadcrumb_in %} 

{%block main_path%}
<ul>
	<li><a class="btn_back_to_list txt16 txt_green" href="{{ path('cliente_edit',{'id':entity.cliente.id}) }}">Cliente: {{entity.cliente}}</a></li>
	<li> > <a class="btn_back_to_list txt16 txt_green" href="{{ path('pedido_edit',{'id':entity.id}) }}">Pedido: {{entity.numero}}, {{entity.obra}}</a></li>
</ul>
{%endblock main_path%}

{% block module_header%}
		<div class="module_header">
			<div id="tituloContenido" class="module_tit txt3">Datos del pedido</div>
			
			
			
			<form action="{{ path('pedido_delete', { 'id': entity.id }) }}" method="post">
				{{ form_widget(delete_form) }}
				<button id="pedidoEliminarBtn" class="btn_red_button right" type="submit">Eliminar</button>
			</form>

			<a id="pedidoListarBtn" class="btn_blue right" href="{{path('pedido')}}">Ir al listado</a>

			<a id="pedidoPresupuestosCrearBtn" class="btn_blue right" href="{{path('presupuesto_new',{'pedido':entity.id})}}">Crear presupuesto</a>
			
			
			{%if entity.requiereRelevamiento==1%}	
				<a id="pedidoRelevamientosCrearBtn" class="btn_blue right" href="{{path('relevamiento_new',{'pedido':entity.id})}}">Crear relevamiento</a>
			{%endif%}
			

			<a id="pedidoPresupuestosBtn" class="btn_blue right" href="javascript:void(0)">Presupuestos del pedido</a>
			{%if entity.requiereRelevamiento==1%}	
				<a id="pedidoRelevamientosBtn" class="btn_blue right" href="javascript:void(0)">Relevamientos del pedido</a>
			{%endif%}
			<a id="pedidoDatosBtn" class="btn_blue right" href="javascript:void(0)">Datos del pedido</a>
			
		</div>
{% endblock module_header%}

{% block form_content %}
	
	<div id="datosPedidoContenido">
			<form action="{% block update_path %}{{ path('pedido_update', { 'id': entity.id }) }}{% endblock update_path %}" method="post" {{ form_enctype(edit_form) }}>
			{% form_theme edit_form 'CoobixAdminBundle:Form:Fields.html.twig' %}
			
				<div id="div_pedido_numero" class="form_row">
					<label for="pedido_numero" class=" required">Número</label>
					<div>{{entity.numero}}</div>
				</div>
		
				<div id="div_pedido_numero" class="form_row">
					<label for="pedido_numero" class=" required">Estado</label>
					<div>{{entity.estadoNombre}}</div>
				</div>
		
				{{ form_widget(edit_form) }}
				
				
				
				<p>
					<button class="btn_green_button right" type="submit">Guardar cambios</button>
				</p>
				
			</form>
			
			
			
			{% block form_record_actions %}
			<ul class="form_record_actions">
				{%block list_extras%}
					
				{%endblock%}
				
				{% block delete_btn %}
				
				{% endblock delete_btn %}
			</ul>
			{% endblock form_record_actions %}
		
	</div>
{% endblock form_content %}




{% block otros %}

  {%if entity.requiereRelevamiento==1%}	
	<div id="relevamientosPedidoContenido">
	
			<div class="tab_container border_radius">
			
						<table class="records_list">
			
							<thead>
								<tr>
									<th>Número</th>
									<th></th>
								</tr>
							</thead>
								
							<tbody>
							{% for relevamiento in entity.relevamientos %}
								<tr>
									<td><a href="{{ path('relevamiento_edit', { 'id': relevamiento.id }) }}" title="Editar">{{relevamiento.numero}}</a></td>
									<td width="20">
										<ul>
											<li>
												<a class="list_edit_btn" href="{{ path('relevamiento_edit', { 'id': relevamiento.id }) }}" title="Editar"></a>
											</li>
										</ul>
									</td>
								</tr>
								
								{% else %}
								<tr class="trColor1">
									<td colspan="0">
										<span class="txt16">No existen registros.</span>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					
								
				</div>
		</div>
	
	{%endif%}	
		
	<div id="presupuestosPedidoContenido">	

		<div class="tab_container border_radius">
		
					<table class="records_list">
		
						<thead>
							<tr>
								<th>Número</th>
								<th></th>
							</tr>
						</thead>
							
						<tbody>
						{% for presupuesto in entity.presupuestos %}
							<tr>
								<td><a href="{{ path('presupuesto_edit', { 'id': presupuesto.id }) }}" title="Editar">{{presupuesto.numero}}</a></td>
								<td width="20">
									<ul>
										<li>
											<a class="list_edit_btn" href="{{ path('presupuesto_edit', { 'id': presupuesto.id }) }}" title="Editar"></a>
										</li>
									</ul>
								</td>
							</tr>
							
							{% else %}
							<tr class="trColor1">
								<td colspan="0">
									<span class="txt16">No existen registros.</span>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				
							
			</div>
	</div>
{% endblock otros %}

{% block javascript_extra %}
	<script type="text/javascript" src="{{ asset('bundles/pedido/js/pedido.js') }}" /></script>
{% endblock javascript_extra %}
