{% extends "CoobixAdminBundle:Default:list.html.twig" %}

{% block breadcrumb_in %}
<div class="breadcrumbs">
<a href="{{ path('cliente') }}" class="current" >Clientes</a>
</div>
{% endblock breadcrumb_in %} 


{% block module_tit %}
Listado de Clientes
{% endblock module_tit %}



{% block list_tits %}

{% set widthCols =  94/4  %}
<th style="width: {{ widthCols }}%" {% if entities.isSorted('c.numero') %} class="sorted" {% endif %}>{{ entities.sortable('Número', 'c.numero')|raw }}</th>
<th style="width: {{ widthCols }}%" {% if entities.isSorted('c.nombre') %} class="sorted" {% endif %}>{{ entities.sortable('Apellido, Nombre', 'c.nombre')|raw }}</th>
<th style="width: {{ widthCols }}%"{% if entities.isSorted('c.tipo') %} class="sorted" {% endif %}>{{ entities.sortable('Tipo', 'c.tipo')|raw }}</a></th>


{% endblock list_tits %}

{% block list_item_texts %}

<td ><a href="{{ path('cliente_edit', { 'id': entity.id }) }}">{{ entity.numero }}</a></td>
<td ><a href="{{ path('cliente_edit', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
<td ><a href="{{ path('cliente_edit', { 'id': entity.id }) }}">
	{%if entity.tipo ==1 %}
		Persona física
	{%else%}
		Organización
	{%endif%}	
		
</a></td>

{% endblock list_item_texts %}

{%block FormBuscar%}
	<form method="post" action="{{path('cliente',{pararouting:"buscar"})}}" novalidate="true">
{%endblock%}



{% block new_path %} 
{{ path('cliente_new') }}
{% endblock new_path %}

{% block edit_path %} 
{{ path('cliente_edit', { 'id': entity.id }) }} 
{% endblock edit_path %}

{% block delete_path %}
{{ path('cliente_delete', { 'id': entity.id }) }}
{% endblock delete_path %}

{% block list_delete %}
{% render "ClientesBundle:Cliente:listDeleteform" with {'id': entity.id}  %}
{% endblock list_delete %}





